.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #121212, #000000);
    color: white;
    font-family: "Poppins", sans-serif;
}

.equalizer {
    display: flex;
    align-items: flex-end;
    gap: 6px;
    height: 60px;
    margin-bottom: 25px;
}

.bar {
    width: 8px;
    background-color: #1db954;
    border-radius: 4px;
    animation: bounce 1.2s infinite ease-in-out;
}

.bar:nth-child(1) {
    animation-delay: 0s;
}

.bar:nth-child(2) {
    animation-delay: 0.1s;
}

.bar:nth-child(3) {
    animation-delay: 0.2s;
}

.bar:nth-child(4) {
    animation-delay: 0.3s;
}

.bar:nth-child(5) {
    animation-delay: 0.4s;
}

@keyframes bounce {

    0%,
    100% {
        height: 10px;
        opacity: 0.6;
    }

    50% {
        height: 60px;
        opacity: 1;
    }
}

.loader-text {
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #b3b3b3;
    text-transform: uppercase;
}