.user-card {
    background: #181818;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    transition: background 0.3s ease, transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.user-card:hover {
    background: #282828;
    transform: translateY(-5px);
}

.user-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.user-card h4 {
    margin: 10px 0;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.user-card button {
    margin-top: 10px;
    padding: 10px 24px;
    border-radius: 25px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: scale 0.2s ease;
    width: 100%;
}

.user-card button:active {
    scale: 0.95;
}

/* Follow state */
.follow-btn {
    background-color: #ffffff;
    color: #000000;
}

.follow-btn:hover {
    background-color: #f0f0f0;
}

/* Following state */
.unfollow-btn {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #727272 !important;
}

.unfollow-btn:hover {
    border-color: #ffffff !important;
}